:root {
	--small: 375px;
	--large: 1440px;

	// Theme 1
	--main-bg: hsl(222, 26%, 31%);
	--toggle-bg: hsl(223, 31%, 20%);
	--screen-bg: hsl(224, 36%, 15%);

	// keys
	--key-bg: hsl(225, 21%, 49%);
	--key-shadow: hsl(224, 28%, 35%);
	--red: hsl(6, 63%, 50%); // key bg, toggle
	--dark-red: hsl(6, 70%, 34%); // key shadow
	--light-orange: hsl(30, 25%, 89%); // key bg
	--orange: hsl(28, 16%, 65%); //key shadow

	// text
	--dark-blue: hsl(221, 14%, 31%);
	--white: hsl(0, 0%, 100%);
	--heading-text: var(--white);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "League Spartan", sans-serif;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

img {
	display: block;
	width: 100%;
}

[data-theme="light"] {
	// Theme 1
	--main-bg: hsl(0, 0%, 90%);
	--toggle-bg: hsl(0, 5%, 81%);
	--screen-bg: hsl(0, 0%, 93%);

	// keys
	--key-bg: hsl(185, 42%, 37%);
	--key-shadow: hsl(185, 58%, 25%);
	--red: hsl(25, 98%, 40%); // key bg, toggle
	--dark-red: hsl(25, 99%, 27%); // key shadow
	--light-orange: hsl(45, 7%, 89%); // key bg
	--orange: hsl(35, 11%, 61%); //key shadow

	// text
	--dark-blue: hsl(60, 10%, 19%);
	--white: hsl(0, 0%, 100%);
	--heading-text: var(--dark-blue);
}

[data-theme="funky"] {
	// Theme 1
	--main-bg: hsl(268, 75%, 9%);
	--toggle-bg: hsl(268, 71%, 12%);
	--screen-bg: hsl(268, 71%, 12%);

	// keys
	--key-bg: hsl(281, 89%, 26%);
	--key-shadow: hsl(285, 91%, 52%);
	--red: hsl(176, 100%, 44%); // key bg, toggle
	--dark-red: hsl(177, 92%, 70%); // key shadow
	--light-orange: hsl(268, 47%, 21%); // key bg
	--orange: hsl(290, 70%, 36%); //key shadow

	// text
	--light-yellow: hsl(52, 100%, 62%);
	--dark-blue: hsl(198, 20%, 13%);
	--white: hsl(0, 0%, 100%);
}

body {
	font-size: 32px;
	background-color: var(--main-bg);
}

.container {
	// --_bgcolor: var(--bgcolor, var(--main-bg));
	--_text-color: var(--text-color, var(--heading-text));

	max-width: 25rem;
	padding: 2rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	background-color: var(--_bgcolor);
	color: var(--_text-color);
}

.keypad {
	width: 100%;
	background-color: var(--toggle-bg);
	padding: 1rem;
	border-radius: 10px;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, minmax(4rem, 6rem));
	grid-template-rows: repeat(5, 4rem);
	// display: flex;
	// flex-wrap: wrap;
	gap: 15px;
	.key {
		--_button-text-color: var(--button-text-color, var(--dark-blue));
		--_button-bg-color: var(--button-bg-color, var(--white));
		--_button-shadow-color: var(--button-shadow-color, var(--orange));

		cursor: pointer;
		padding: 1rem;
		padding-top: 1.4rem;
		border: 0;
		border-radius: 5px;
		font-size: inherit;
		color: var(--_button-text-color);
		background: var(--_button-bg-color);
		box-shadow: 0 4px 0 var(--_button-shadow-color);
		&.key-del {
			--button-text-color: var(--white);
			--button-bg-color: var(--key-bg);
			--button-shadow-color: var(--key-shadow);
			font-size: 20px;
		}
		&.key-reset {
			--button-text-color: var(--white);
			--button-bg-color: var(--key-bg);
			--button-shadow-color: var(--key-shadow);
			font-size: 20px;
			grid-column: 1 / 3;
		}
		&.key-equals {
			--button-text-color: var(--white);
			--button-bg-color: var(--red);
			--button-shadow-color: var(--dark-red);
			font-size: 20px;
			letter-spacing: -1px;
			grid-column: 3 / 5;
		}
	}
}

.screen {
	--_bgcolor: var(--bgcolor, var(--screen-bg));
	// --_text-color: var(--text-color, var(--white));

	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: end;
	width: 100%;
	min-height: 98px;
	padding: 1rem;
	border-radius: 10px;
	background-color: var(--_bgcolor);
	color: var(--_text-color);
	& > * {
		word-wrap: break-word;
		word-break: break-all;
	}
	.screen-previous {
		margin-bottom: 1rem;
		font-size: 0.7em;
	}
}

.heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h2 {
		margin: 0;
	}

	.theme {
		display: flex;
		gap: 20px;
		align-items: start;
		font-size: 0.5em;

		div {
			display: flex;
			align-items: center;
			position: relative;

			&::before {
				content: "";
				background-color: var(--toggle-bg);
				width: 65px;
				height: 21px;
				border-radius: 50px;
				position: absolute;
				top: 16px;
				left: 0;
			}
		}
		label {
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 3;
			cursor: pointer;

			input {
				transform: scale(1.5);
				visibility: hidden;

				&::after {
					content: "";
					width: 10px;
					height: 10px;
					transform: scale(0);
					border-radius: 15px;
					top: 3px;
					left: 1px;
					position: relative;
					background-color: var(--red);
					display: inline-block;
					visibility: hidden;
					opacity: 0;
					transition: all 0.3s ease; /* added transition */
				}

				&:checked::after {
					width: 10px;
					height: 10px;
					visibility: visible;
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}
