@use "abstracts" as *;

$body-font-family: "Open Sans", sans-serif;
$body-font-weight: 400;
$body-font-size: 1rem;
$body-text-color: var(--gray-11);
$body-background-color: var(--gray-1);
$body-line-height: 1.5;
$link-color: initial;
$link-color-hover: initial;
