// Colours
$background-colour: #fafafa;
$primary-text-colour: #4d4f62;
$secondary-text-colour: #aaaaaa;
$shadow: #0062d91e;
$white: #fff;
$red: #ea5353;
$cyan: #45d3d3;
$orange: #fcaf4a;
$blue: #549ef2;

// Media queries
$tablet-media: 375px;
$desktop-media: 1140px;
